<div class="row col-md-8 col-md-offset-2">
  <h1><%= @chatroom.topic %></h1>

<div class="panel panel-default">
   <div class="panel-body" id="messages" style="height: 300px;overflow-y: scroll;width: 500px;">
    <% if @chatroom.messages.any? %>
      <%= render partial: 'messages/message', collection: @chatroom.messages%>
    <%end%>
  </div>
</div>

  <%= render partial: 'messages/form' %>
</div>