<% if user_signed_in? %>
  <%= link_to "Sign Out", destroy_user_session_path, method: 'delete' %>
<% else %>
  <%= link_to "Sign in", new_user_session_path %>
  <%= link_to "Sign Up", new_user_registration_path %>
<% end %>

<h2>Chatrooms:</h2>
<% @chatrooms.each do |chatroom| %>
  <h3><%= link_to chatroom.topic, chatroom_path(chatroom)%></h3> 
<% end %>